.element__like-icon {
   width: 22px;
   height: 19px;
   background-image: url(../../../images/Like-icon.svg);
   color: #000000;
   cursor: pointer;
}

.element__like-icon:hover {
   opacity: 0.8;
}
.element__like-icon:active {
   background-image: url(../../../images/like-icon_active.svg);
   opacity: 1;
}